{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^~/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true
}
